<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Enter your text.</h1>
<form action="/analyse" method="get">
    <textarea name='text' style="margin: 0px; width: 242px; height: 32px;"></textarea><br>

    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="capital_first">Capitalize First Letter<br>
    <input type="checkbox" name="capital_all">Capitalize All Letters<br>
    <input type="checkbox" name="removespace">Remove Space<br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>